.blockquote-sec {
	@include padding(155px null 135px);
	background-image: url('../assets/blockquote-bg.jpg');
	background-position: unset;
}

blockquote {
	border-left: $base-border-size solid $color-brand-orange;
	color: #282828;
	font-family: $base-font-family;
	font-size: 48px;
	line-height: $heading-line-height;
	margin: 0 auto;
	padding-left: $base-spacing * 2;

	small {
		display: block;
		font-size: 24px;
		line-height: $base-line-height;
	}
}
