$_button-background-color: $action-color;
$_button-background-color-hover: shade($action-color, 20%);

#{$all-buttons} {
	appearance: none;
	background-color: $_button-background-color;
	border: 0;
	border-radius: $base-border-radius;
	color: contrast-switch($_button-background-color);
	cursor: pointer;
	display: inline-block;
	font-family: $heading-font-family;
	font-size: 16px;
	font-weight: $fw-brandon-medium;
	line-height: 1;
	padding: $small-spacing $base-spacing;
	text-align: center;
	text-decoration: none;
	transition: background-color $base-duration $base-timing;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	&:hover {
		background-color: $_button-background-color-hover;
		color: contrast-switch($_button-background-color-hover);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;

		&:hover {
			background-color: $_button-background-color;
		}
	}
}

.btn {
	appearance: none;
	background: none;
	border: 2px solid transparent;
	border-radius: $base-border-radius;
	color: transparent;
	cursor: pointer;
	display: inline-block;
	font-family: $heading-font-family;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-weight: $fw-brandon-bold;
	height: $base-spacing * 3;
	letter-spacing: 4px;
	line-height: 58px;
	margin: 0;
	min-width: 230px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s;
	transition-timing-function: ease;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	&::after {
		transition: all 0.3s;
	}

	&::before,
	&::after {
		@include position(absolute, 0 null null 0);
		@include size(100%, 0);
		background: $color-white;
		content: "";
		position: absolute;
	}

	&:hover {
		color: $color-brand-orange;

		&::after {
			height: 100%;
		}
	}

	&-white {
		border-color: $color-white;
		color: $color-white;

		&::after {
			background-color: $color-white;
		}

		&:hover {
			color: $color-brand-orange;
		}
	}

	&-orange {
		border-color: $color-brand-orange;
		color: $color-brand-orange;

		&::after {
			background-color: $color-brand-orange;
		}

		&:hover {
			color: $color-white;
		}
	}
}

// Button Group

.btn-group {
	.btn {
		@include margin(null 15px 15px);
	}
}