$_button-background-color: $action-color;
$_button-background-color-hover: shade($action-color, 20%);


#{$all-buttons} {
	appearance: none;
	background-color: $_button-background-color;
	border: 0;
	border-radius: $base-border-radius;
	color: contrast-switch($_button-background-color);
	cursor: pointer;
	display: inline-block;
	font-family: $base-font-family;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	padding: $small-spacing $base-spacing;
	text-align: center;
	text-decoration: none;
	transition: background-color $base-duration $base-timing;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	&:hover {
		background-color: $_button-background-color-hover;
		color: contrast-switch($_button-background-color-hover);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: .5;

		&:hover {
			background-color: $_button-background-color;
		}
	}
}



.btn {
	background-color: transparent;
	border-radius: $base-border-radius;
	border: 2px solid #fff;
	color: transparent;
	cursor: pointer;
	display: inline-block;
	font-family: $heading-font-family;
	font-weight: $fw-brandon-bold;
	height: $base-spacing * 3;
	letter-spacing: 4px;
	margin: 0;
	min-width: 230px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition-property: background-color,border-color,color;
	-webkit-font-smoothing: antialiased;
	appearance: none;
	font-size: 16px;
	line-height: 58px;
	transition-timing-function: ease;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	&-white {
		color: #fff;
	}
}