.text-center {
	text-align: center;
}

.fill-white {
	fill: $color-white;
}

.fill-facebook {
	fill: #3b5998;
}

.fill-youtube {
	fill: #c4302b;
}

.fill-twitter {
	fill: #26a6d1;
}

.fill-linkedin {
	fill: #0e76a8;
}


.fill-flickr_bg {
	fill: #e4e7e7;
}

.fill-flickr_pink {
	fill: #ff0084;
}

.fill-flickr_blue {
	fill: #0063dc;
}