.site-header {
	z-index: 999999999;

	figure {
		z-index: 1;
	}
}

.footer {
	z-index: 100000;
}

.client-square-grid {
	z-index: 999;
}

.main-hero {
	z-index: 50;
}

.blockquote-sec {
	z-index: 49;
}

.work-item__copy {
	z-index: 5;
}

.client-square__nav {
	z-index: 3;
}

.scroll-down-icon {
	z-index: 2;
}

.hero-scroll-down {
	svg {
		z-index: 1;
	}
}

.scroll-down {
	&::before {
		z-index: 1;
	}
}

.btn {

	&::before,
	&::after {
		z-index: -1;
	}
}