// Light
@font-face {
	font-family: "Brandon Grotesque";
	src: url("../fonts/Brandon-Grotesque/BrandonGrotesque-Light.eot");
	src: url("../fonts/Brandon-Grotesque/BrandonGrotesque-Light.woff2") format("woff2"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Light.woff") format("woff"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Light.ttf") format("truetype"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Light.svg#BrandonGrotesque-Light") format("svg"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Light.eot?#iefix") format("embedded-opentype");
	font-weight: 100;
	font-style: normal;
}

// Thin
@font-face {
	font-family: "Brandon Grotesque";
	src: url("../fonts/Brandon-Grotesque/BrandonGrotesque-Thin.eot");
	src: url("../fonts/Brandon-Grotesque/BrandonGrotesque-Thin.woff2") format("woff2"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Thin.woff") format("woff"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Thin.ttf") format("truetype"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Thin.svg#BrandonGrotesque-Thin") format("svg"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Thin.eot?#iefix") format("embedded-opentype");
	font-weight: 300;
	font-style: normal;
}

// Regular
@font-face {
	font-family: "Brandon Grotesque";
	src: url("../fonts/Brandon-Grotesque/BrandonGrotesque-Regular.eot");
	src: url("../fonts/Brandon-Grotesque/BrandonGrotesque-Regular.woff2") format("woff2"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Regular.woff") format("woff"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Regular.ttf") format("truetype"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular") format("svg"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype");
	font-weight: 400;
	font-style: normal;
}

// Medium
@font-face {
	font-family: "Brandon Grotesque";
	src: url("../fonts/Brandon-Grotesque/BrandonGrotesque-Medium.eot");
	src: url("../fonts/Brandon-Grotesque/BrandonGrotesque-Medium.woff2") format("woff2"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Medium.woff") format("woff"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Medium.ttf") format("truetype"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium") format("svg"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype");
	font-weight: 500;
	font-style: normal;
}

// Bold
@font-face {
	font-family: "Brandon Grotesque";
	src: url("../fonts/Brandon-Grotesque/BrandonGrotesque-Bold.eot");
	src: url("../fonts/Brandon-Grotesque/BrandonGrotesque-Bold.woff2") format("woff2"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Bold.woff") format("woff"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Bold.ttf") format("truetype"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold") format("svg"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype");
	font-weight: 700;
	font-style: normal;
}

// Black
@font-face {
	font-family: "Brandon Grotesque";
	src: url("../fonts/Brandon-Grotesque/BrandonGrotesque-Black.eot");
	src: url("../fonts/Brandon-Grotesque/BrandonGrotesque-Black.woff2") format("woff2"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Black.woff") format("woff"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Black.ttf") format("truetype"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Black.svg#BrandonGrotesque-Black") format("svg"),
		url("../fonts/Brandon-Grotesque/BrandonGrotesque-Black.eot?#iefix") format("embedded-opentype");
	font-weight: 900;
	font-style: normal;
}